body {
    background-color: #eeeeee;
    font-family: 'Arvo', serif;

}

.slide-show1 {
    color: white;
    z-index: 2;
    padding: 50px;
    position: absolute;
}

#obj1 {
    position: relative;
    border-radius: 20px;
    width: 100%;
    z-index: 1;
    box-shadow: #999999 5px 5px 20px;
}


.container {
    width: 100%;
}

.row {
    width: 100%;
}

.row-filling-div {
    height: 200px;
    padding: 5px;
    /* margin: 10px; */
}

.top-division {
    margin: auto;
    margin-bottom: 15px;
    /* background-color: chartreuse; */
}

.bottom-division {
    margin: auto;
    margin-top: 15px;
    /* background-color: chartreuse; */
}
.col {
    height: 700px;
    width: 100%;
    margin: auto;
    border-radius: 20px;
}
