body {
    background-color: #c3c3c3;
    font-family: 'Arvo', serif;

}

.container {
    width: 100%;
}

.row {
    background-color: #d2d2d2;
    height: 350px;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: grey 1px 1px 20px;
}

.content-box1 {
    color: #232323;
    padding: 20px;
    /* background-color: red; */
}

.image {
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    border-radius: 20px;
    height: 100%;
}

.profile {
    background-image: url(images/profile.jpg);
}

.svg-illustration {
    background-image: url(images/iso-brick-building.svg.);
}